* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 625%;
}
@media only screen and (max-width: 768px){
    html {
        font-size: 625% !important;
    }
}
@media only screen and (max-width: 425px){
    html {
        font-size: 369% !important;
    }
}
@media only screen and (max-width: 375px){
    html {
        font-size: 310% !important;
    }
}
@media only screen and (max-width: 320px){
    html {
        font-size: 278% !important;
    }
}
 
body {
    background-color: #eff0f4;
}
header {
    display: flex;
    width: 100%;
    height: 0.88rem;
    line-height: 0.88rem;
    color: #fff;
    background-color: #5fc0cd;
    position: relative;
}
header .close {
    font-size: .32rem;
    position: absolute;
    left: 0.3rem;
}
header .login {
    font-size: .36rem;
    position: absolute;
    left: 50%;
    margin-left: -0.36rem;
}
header .sign {
    font-size: .32rem;
    position: absolute;
    right: 0.3rem;
}
 .tel,.password {
    position: relative;
    width: 100%;
    height: 1rem;
    background-color: #fff;
    margin-top: 0.16rem;
}
.tel input,.password input {
    height: .54rem;
    border: none;
    border-left: 2px solid #eff0f4;
    padding-left: .35rem;
    margin-left: 1.15rem;
    font-size: .32rem;
    color: #999;
    position: absolute;
    top: 50%;
    margin-top: -0.29rem;
    outline: none;
}
 .tel i {
    background: url(images/iphone.png) no-repeat;
    width: .27rem;
    height: .43rem;
    background-size:100% 100%;
    position:absolute;
    top: 50%;
    margin-top: -0.21rem;
    margin-left: 0.4rem;
}
.password i {
    background: url(images/locked2.png) no-repeat;
    width: .29rem;
    height: .43rem;
    background-size:100% 100%;
    position:absolute;
    top: 50%;
    margin-top: -0.15rem;
    margin-left: 0.4rem;
}

 button {
    width: 100%;
    height: 1rem;
    color: #fff;
    font-size: .36rem;
    background-color: #5fc0cd;
    margin-top: 0.7rem;
    border: none;
}
a {
    text-decoration: none;
    color: #5fc0cd;
    font-size: .32rem;
    float: right;
    margin-right: 0.3rem;
    margin-top: .2rem;
}
