body {
    background-color: #f0f0f0;
}
.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0, 0, .8);
    z-index: 99;
}
.mask .modal {
    position: absolute;
    left: 25%;
    top: 40%;
    width: 50%;
    background-color: #fff;
    font-size: .28rem;
    font-weight: 600;
    color: #333;
    border-radius: 5px;
    z-index: 100;
}
.mask .modal p {
    padding: .3rem 0;
    border-bottom: 1px solid #e0e0ee;
}
.mask .modal .btns .confirm, .cancel {
    width: 50%;
    line-height: .8rem;
}
.mask .modal .btns .confirm {
    border-right:  1px solid #e0e0ee;
}
/* 头部 */
header .back {
    width: .25rem;
    height: .41rem;
    margin-left: .22rem;
}
header .close {
    width: 0.36rem;
    height: 0.36rem;
    margin-right: .22rem;
}
.contain {
    padding: 0 5px;
}
.days {
    margin-top: 1.2rem;
    border-top: 1px solid #e0e0e0;
}
.days li {
    margin-bottom: .2rem;
    font-size: .3rem;
    color: #29bde0;
    text-align: center;
    line-height: .85rem;
    background-color: #fff;
    box-shadow: 0 0 2px #ccc;
    font-weight: 550;
}
.process {
    background-color: #fff;
    padding-bottom: .5rem;
}
.process .day {
    margin-left: .4rem;
    border-left: 1px solid #e0e0e0;
    padding: 0 .6rem;
    font-size: .3rem;
    color: #fff;
}
.process .day img {
    width: .63rem;
    height: .63rem;
    position: absolute;
   
}
.process .day .moon {
    top: 45%;
    left: -55px;
}
.process .day .sun {
    top:0;
    left: -55px;
}
.process .day .am {
    padding-top: .5rem;
    position: relative;
}
.process .day .am p {
    font-size: .3rem;
}
.process .day .pm{
    position: relative;
} 
.process .day .step {
    background-color: #24a7c6;
    line-height: 0.75rem;
    margin-bottom: .2rem;
    position: relative;
}
.process .day .step::before{
    content: " ";
    width: 0;
    height: 0;
    border-top: 0.15rem solid transparent;
    border-right: 0.25rem solid #24a7c6;
    border-bottom: 0.15rem solid transparent;
    position: absolute;
    left: -15px;
    top: 30%;
}
.process .day .step.actived {
    background-color: #83b09a;
}
.process .day .step.actived::before {
    border-right: 0.25rem solid #83b09a;
}
.process .day .step a {
    color: #fff;
}
/* 脚部 */
.footer1 .btns .btn1,.footer1 .btns .btn2 {
    background-color: #fbb435;
}
