* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 625%;
}
/* @media only screen and (max-width: 768px){
    html {
        font-size: 625% !important;
    }
}
@media only screen and (max-width: 425px){
    html {
        font-size: 369% !important;
    }
}
@media only screen and (max-width: 375px){
    html {
        font-size: 310% !important;
    }
}
@media only screen and (max-width: 320px){
    html {
        font-size: 278% !important;
    }
}
  */
body {
    background-image: url("images/bg.jpg");
}
.login {
    padding:15px;
    width: 35%;
    position: absolute;
    top: 15%;
    left: 30%;
    background-color: #fff;
    border-radius: 10px;
}
.login img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.login .user {
    margin-bottom: 20px;
}
.login .user,.login .password {
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    height: 80px;
    position: relative;
}
.login .user img,.login .password img {
    position: absolute;
    top: 20px;
    left: 20px;
}
.login .user input,.login .password input {
    width: 80%;
    position: absolute;
    top: 10px;
    left: 15%;
    height: 60px;
    border: none;
    font-size: 20px;
    outline: none;
}
.login button {
    width: 80%;
    height: 80px;
    background-color: #f40;;
    border-radius: 5px;
    color: #fff;
    font-size: 26px;
    border: none;
    margin-left: 10%;
    outline: none;
}
.login #info {
    font-size:20px;
    margin-bottom: 20px;
    color: #F59D53;
    text-align: center;
}
